<!DOCTYPE html>
<html>
<head>
    <title>Add Processor</title>
</head>
<body>
    <h1>Add Processor</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="manufacturer">Manufacturer:</label><br>
        <input type="text" id="manufacturer" name="manufacturer"><br>
        <label for="generation">Generation:</label><br>
        <input type="number" id="generation" name="generation"><br>
        <label for="core">Core:</label><br>
        <input type="number" id="core" name="core"><br>
        <label for="thread">Thread:</label><br>
        <input type="number" id="thread" name="thread"><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
